.product {
    margin: 50px ;

}

.sort-add{
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin-bottom: 20px;

   
    
}

select{
    width: 130px;
    margin-right: 20px;
}

i{
    cursor: pointer;
}