
<div class="product-add">
    <form [formGroup]="updateFrom" >
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >ชื่อสินค้า</label
        >
        <input
          type="text"
          class="form-control"
          placeholder="ชื่อสินค้า"
          formControlName="name"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >จำนวนใน stock</label
        >
        <input
          type="text"
          class="form-control"
  
          placeholder="จำนวน"
          formControlName="stock"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">ราคา</label>
        <input
          type="text"
          class="form-control"
   
          placeholder="ราคา"
          formControlName="price"
          required
        />
      </div>
      <button type="button" class="btn btn-primary" (click)="onUpdate()">อัพเดทสินค้า</button>
    </form>
  </div>
  